@import "tailwindcss";

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
    
    
}

.purple-gradient {
  background: #400951; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #110224 ,
    #460960
       
  );

}

.green-gradient {
    background: #220c63;
    background: linear-gradient(-90deg, #cb4dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
      -90deg,
      #ad0ead 0%,
      rgba(60, 51, 80, 0) 100%
    );
  }

.bg-home{
    background: rgb(59, 29, 84);
background: radial-gradient(circle, rgb(49, 16, 67) 0%, rgb(2, 3, 3) 100%);
}


.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  }


  .blue-text-gradient {
    /* background: -webkit-linear-gradient(#eee, #333); */
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #2f80ed,
      #56ccf2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #2f80ed,
      #56ccf2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .pink-text-gradient {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #ec008c,
      #fc6767
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  .green-text-gradient {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #11998e,
      #38ef7d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


 .tagline {
    background: linear-gradient(90.21deg, rgba(170, 54, 124, .5) -5.91%, rgba(74, 47, 189, .5) 111.58%);
    border: 1px solid hsla(0, 0%, 100%, .5);
    display: inline-block;
    font-size: 20px;
    margin-bottom: 16px;
    padding: 8px 10px;
}